/* Color palette:
#03045e
#023e8a
#0077b6
#0096c7
#00b4d8
#48cae4
#90e0ef
#ade8f4
#caf0f8
*/

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 60%;
}

body {
  box-sizing: border-box;
  color: #777;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem;
}

.header {
  background-image: linear-gradient(to left bottom, #90e1efcc, #023d8ace),
    url("https://cdn.pixabay.com/photo/2016/11/18/19/40/woman-1836601_960_720.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 0.5rem;
  height: 95vh;
}

.logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.heading {
  color: #caf0f8;
  text-transform: uppercase;
}

.heading-primary {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.heading-secondary {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin-bottom: 6rem;
}

.btn:link,
.btn:visited {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.btn-white {
  background-color: #fff;
  color: #777;
}
