.bg-video {
  height: 100%;
  left: 0;
  opacity: 0.55;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;

  &__content {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
